{
  "openapi": "3.0.3",
  "info": {
    "title": "SKULabs API",
    "description": "Most API keys have \"platformGeneric\" and \"platformApi\" scopes included. Contact us to convert more routes from \"platformUser\" (only available to users) to \"platformGeneric\" (available to users and api keys) upon request.",
    "version": "4.5.0"
  },
  "servers": [
    {
      "url": "https://api.skulabs.com"
    },
    {
      "url": "https://app.skulabs.com/s"
    }
  ],
  "tags": [
    {
      "name": "batch"
    },
    {
      "name": "customer",
      "description": "Manage customers, tags, and notes"
    },
    {
      "name": "cycle_count"
    },
    {
      "name": "distributor"
    },
    {
      "name": "inventory",
      "description": "Query and modify inventory levels across locations"
    },
    {
      "name": "inventory_table"
    },
    {
      "name": "item",
      "description": "Manage items, barcodes, serial numbers, and tags"
    },
    {
      "name": "kit",
      "description": "Manage kits and their component items"
    },
    {
      "name": "listing"
    },
    {
      "name": "location"
    },
    {
      "name": "oauth"
    },
    {
      "name": "order",
      "description": "Manage orders, shipments, tags, and statuses"
    },
    {
      "name": "purchase_order",
      "description": "Manage purchase orders and receiving"
    },
    {
      "name": "run"
    },
    {
      "name": "shipments"
    },
    {
      "name": "shipping"
    },
    {
      "name": "store"
    },
    {
      "name": "tag",
      "description": "Create, update, and remove tags"
    },
    {
      "name": "transfer_order"
    },
    {
      "name": "warehouse",
      "description": "Manage warehouses and view statistics"
    },
    {
      "name": "webhook",
      "description": "Manage webhook handlers"
    }
  ],
  "paths": {
    "/batch/get": {
      "get": {
        "operationId": "get_batch_get",
        "summary": "Batch - Get",
        "description": "Retrieve batch details by ID, including orders and fulfillment progress.",
        "tags": [
          "batch"
        ],
        "security": [
          {
            "SKULabsToken": []
          }
        ],
        "servers": [
          {
            "url": "https://api.skulabs.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Full batch detail with orders, inventory, and scan data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "batch": {
                      "$ref": "#/components/schemas/BatchDetail"
                    }
                  },
                  "required": [
                    "batch"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "batch_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Batch ID to retrieve",
              "example": "507f1f77bcf86cd799439011"
            }
          },
          {
            "name": "batch_number",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "description": "Batch number to retrieve"
            }
          }
        ]
      }
    },
    "/customer/add_note": {
      "post": {
        "operationId": "post_customer_add_note",
        "summary": "Customer - Add Note",
        "description": "Add a note to a customer record.",
        "tags": [
          "customer"
        ],
        "security": [
          {
            "SKULabsToken": []
          }
        ],
        "servers": [
          {
            "url": "https://api.skulabs.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Note added, returns updated customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customer": {
                      "$ref": "#/components/schemas/FullCustomer"
                    }
                  },
                  "required": [
                    "customer"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Customer ID",
                    "example": "507f1f77bcf86cd799439011"
                  },
                  "note": {
                    "type": "string",
                    "description": "Note text to add"
                  }
                },
                "required": [
                  "id",
                  "note"
                ]
              }
            }
          }
        }
      }
    },
    "/customer/add_tag": {
      "post": {
        "operationId": "post_customer_add_tag",
        "summary": "Customer - Add Tag",
        "description": "Add a tag to one or more customers.",
        "tags": [
          "customer"
        ],
        "security": [
          {
            "SKULabsToken": []
          }
        ],
        "servers": [
          {
            "url": "https://api.skulabs.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Tag added to customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the operation succeeded"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of customer IDs"
                  },
                  "tag_id": {
                    "type": "string",
                    "description": "Tag ID to add"
                  }
                },
                "required": [
                  "ids",
                  "tag_id"
                ]
              }
            }
          }
        }
      }
    },
    "/customer/get_customer": {
      "get": {
        "operationId": "get_customer_get_customer",
        "summary": "Customer - Get Customer",
        "description": "Retrieve a single customer by ID with full details including notes and activity log.",
        "tags": [
          "customer"
        ],
        "security": [
          {
            "SKULabsToken": []
          }
        ],
        "servers": [
          {
            "url": "https://api.skulabs.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customer": {
                      "$ref": "#/components/schemas/FullCustomer"
                    }
                  },
                  "required": [
                    "customer"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Customer ID",
              "example": "507f1f77bcf86cd799439011"
            }
          }
        ]
      }
    },
    "/customer/get_customers": {
      "get": {
        "operationId": "get_customer_get_customers",
        "summary": "Customer - Get Customers",
        "description": "Retrieve a paginated list of customers with optional filtering.",
        "tags": [
          "customer"
        ],
        "security": [
          {
            "SKULabsToken": []
          }
        ],
        "servers": [
          {
            "url": "https://api.skulabs.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Customer"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "selector",
            "in": "query",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {},
              "description": "Query selector object for filtering results"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "description": "Max results to return",
              "example": 50
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "description": "Number of results to skip",
              "example": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {},
              "description": "Sort fields object, e.g. { \"name\": 1 }"
            }
          }
        ]
      }
    },
    "/customer/remove_tag": {
      "post": {
        "operationId": "post_customer_remove_tag",
        "summary": "Customer - Remove Tag",
        "description": "Remove a tag from one or more customers.",
        "tags": [
          "customer"
        ],
        "security": [
          {
            "SKULabsToken": []
          }
        ],
        "servers": [
          {
            "url": "https://api.skulabs.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Tag removed from customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the operation succeeded"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of customer IDs"
                  },
                  "tag_id": {
                    "type": "string",
                    "description": "Tag ID to remove"
                  }
                },
                "required": [
                  "ids",
                  "tag_id"
                ]
              }
            }
          }
        }
      }
    },
    "/cycle_count/get": {
      "get": {
        "operationId": "get_cycle_count_get",
        "summary": "Cycle Count - Get",
        "description": "Retrieve a single cycle count by ID with its item details.",
        "tags": [
          "cycle_count"
        ],
        "security": [
          {
            "SKULabsToken": []
          }
        ],
        "servers": [
          {
            "url": "https://api.skulabs.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Single cycle count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cycle_count": {
                      "$ref": "#/components/schemas/CycleCount"
                    }
                  },
                  "required": [
                    "cycle_count"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message"
                        },
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "overview": {
                          "type": "string",
                          "description": "Short human-friendly description"
                        },
                        "statusCode": {
                          "type": "number",
                          "description": "HTTP status code"
                        },
                        "origin": {
                          "type": "string",
                          "description": "Error source"
                        },
                        "skulabsTraceId": {
                          "type": "string",
                          "description": "Trace ID for support"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "error",
                            "notice",
                            "success"
                          ],
                          "description": "Error severity for UI handling"
                        },
                        "user_error": {
                          "type": "boolean",
                          "description": "Whether the error was caused by user input"
                        },
                        "display": {
                          "type": "string",
                          "enum": [
                            "notification",
                            "panel"
                          ],
                          "description": "Suggested UI display mode for the error"
                        }
                      },
                      "required": [
                        "message",
                        "statusCode"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
[...]
