
{"openapi":"3.0.3","info":{"title":"SKULabs API","description":"Most API keys have \"platformGeneric\" and \"platformApi\" scopes included. Contact us to convert more routes from \"platformUser\" (only available to users) to \"platformGeneric\" (available to users and api keys) upon request.","version":"4.5.0"},"servers":[{"url":"https://api.skulabs.com/"},{"url":"https://app.skulabs.com/s/"}],"tags":[{"name":"customer"},{"name":"cycle_count"},{"name":"distributor"},{"name":"inventory"},{"name":"inventory_table"},{"name":"item"},{"name":"kit"},{"name":"listing"},{"name":"location"},{"name":"oauth"},{"name":"order"},{"name":"purchase_order"},{"name":"run"},{"name":"shipments"},{"name":"shipping"},{"name":"store"},{"name":"tag"},{"name":"transfer_order"},{"name":"warehouse"},{"name":"webhook"}],"paths":{"/customer/add_note":{"post":{"description":"/customer/add_note","summary":"Customer - Add Note","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"note":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["customer"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/customer/add_tag":{"post":{"description":"/customer/add_tag","summary":"Customer - Add Tag","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string"}},"tag_id":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["customer"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/customer/get_customer":{"get":{"description":"/customer/get_customer","summary":"Customer - Get Customer","parameters":[{"name":"id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["customer"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/customer/get_customers":{"get":{"description":"/customer/get_customers","summary":"Customer - Get Customers","parameters":[{"name":"selector","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"number","format":"integer"}},{"name":"skip","in":"query","schema":{"type":"number","format":"integer"}},{"name":"sort","in":"query","schema":{"type":"object"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["customer"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/customer/remove_tag":{"post":{"description":"/customer/remove_tag","summary":"Customer - Remove Tag","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string"}},"tag_id":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["customer"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/cycle_count/get":{"get":{"description":"/cycle_count/get","summary":"Cycle Count - Get","parameters":[{"name":"id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["cycle_count"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/cycle_count/get_all":{"get":{"description":"/cycle_count/get_all","summary":"Cycle Count - Get All","parameters":[{"name":"start","in":"query","schema":{"type":"string","format":"date"}},{"name":"end","in":"query","schema":{"type":"string","format":"date"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["cycle_count"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/distributor/add_item":{"put":{"description":"/distributor/add_item","summary":"Distributor - Add Item","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["distributor"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/distributor/create":{"post":{"description":"/distributor/create","summary":"Distributor - Create","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["distributor"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/distributor/edit_item":{"put":{"description":"/distributor/edit_item","summary":"Distributor - Edit Item","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"item":{"type":"object"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["distributor"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/distributor/get":{"get":{"description":"/distributor/get","summary":"Distributor - Get","parameters":[{"name":"selector","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"number","format":"integer"}},{"name":"skip","in":"query","schema":{"type":"number","format":"integer"}},{"name":"sort","in":"query","schema":{"type":"object"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["distributor"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/distributor/remove_item":{"delete":{"description":"/distributor/remove_item","summary":"Distributor - Remove Item","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"item_id":{"type":"string"},"quantity":{"type":"number","format":"integer"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["distributor"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/distributor/update":{"put":{"description":"/distributor/update","summary":"Distributor - Update","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["distributor"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/inventory/bulk_reconciliation":{"post":{"description":"/inventory/bulk_reconciliation","summary":"Inventory - Bulk Reconciliation","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"reason":{"type":"string"},"notes":{"type":"string"},"rows":{"type":"array","items":{"type":"object"}}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/inventory/decrease_on_hand":{"put":{"description":"/inventory/decrease_on_hand","summary":"Inventory - Decrease On Hand","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"location_id":{"type":"string"},"item_id":{"type":"string"},"amount":{"type":"number"},"notes":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/inventory/deduct_serial_numbers":{"post":{"description":"/inventory/deduct_serial_numbers","summary":"Inventory - Deduct Serial Numbers","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"item_id":{"type":"string"},"serial_numbers":{"type":"array","items":{"type":"string"}}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/inventory/get":{"get":{"description":"/inventory/get","summary":"Inventory - Get","parameters":[{"name":"data","in":"query","schema":{"type":"object"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/inventory/get_grouped_locations_map":{"post":{"description":"/inventory/get_grouped_locations_map","summary":"Inventory - Get Grouped Locations Map","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/inventory/get_history":{"get":{"description":"/inventory/get_history","summary":"Inventory - Get History","parameters":[{"name":"start","in":"query","schema":{"type":"string","format":"date"}},{"name":"end","in":"query","schema":{"type":"string","format":"date"}},{"name":"notes","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/inventory/get_inventory_history":{"get":{"description":"/inventory/get_inventory_history","summary":"Inventory - Get Inventory History","parameters":[{"name":"start","in":"query","schema":{"type":"string","format":"date"}},{"name":"end","in":"query","schema":{"type":"string","format":"date"}},{"name":"notes","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/inventory/get_item_free":{"get":{"description":"/inventory/get_item_free","summary":"Inventory - Get Item Free","parameters":[{"name":"sku","in":"query","schema":{"type":"string"}},{"name":"warehouse_ids","in":"query","schema":{"type":"array","items":{"type":"string"}}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/inventory/get_items":{"post":{"description":"/inventory/get_items","summary":"Inventory - Get Items","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"item_ids":{"type":"array","items":{"type":"string"}},"warehouse_ids":{"type":"array","items":{"type":"string"}}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/inventory/get_items_and_kits_map":{"post":{"description":"/inventory/get_items_and_kits_map","summary":"Inventory - Get Items And Kits Map","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/inventory/get_items_incoming":{"post":{"description":"/inventory/get_items_incoming","summary":"Inventory - Get Items Incoming","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"item_ids":{"type":"array","items":{"type":"string"}},"warehouse_ids":{"type":"array","items":{"type":"string"}}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/inventory/get_items_map":{"post":{"description":"/inventory/get_items_map","summary":"Inventory - Get Items Map","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/inventory/get_kits_map":{"post":{"description":"/inventory/get_kits_map","summary":"Inventory - Get Kits Map","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/inventory/get_on_hand_location_map":{"post":{"description":"/inventory/get_on_hand_location_map","summary":"Inventory - Get On Hand Location Map","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/inventory/get_received_history":{"get":{"description":"/inventory/get_received_history","summary":"Inventory - Get Received History","parameters":[{"name":"start","in":"query","schema":{"type":"string","format":"date"}},{"name":"end","in":"query","schema":{"type":"string","format":"date"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/inventory/get_reserved_map":{"get":{"description":"/inventory/get_reserved_map","summary":"Inventory - Get Reserved Map","parameters":[{"name":"store_ids","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"listing_links","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/inventory/get_via_post_reserved_map":{"post":{"description":"/inventory/get_via_post_reserved_map","summary":"Inventory - Get Via Post Reserved Map","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"store_ids":{"type":"array","items":{"type":"string"}},"listing_links":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/inventory/increase_on_hand":{"put":{"description":"/inventory/increase_on_hand","summary":"Inventory - Increase On Hand","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"location_id":{"type":"string"},"item_id":{"type":"string"},"amount":{"type":"number"},"notes":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/inventory/upsert":{"put":{"description":"/inventory/upsert","summary":"Inventory - Upsert","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"location_name":{"type":"string"},"item_id":{"type":"string"},"on_hand":{"type":"number","format":"integer"},"alert":{"type":"number","format":"integer"},"notes":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/item/add_barcode":{"post":{"description":"/item/add_barcode","summary":"Item - Add Barcode","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"item_id":{"type":"string"},"upc":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/item/add_custom_field":{"post":{"description":"/item/add_custom_field","summary":"Item - Add Custom Field","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"item_id":{"type":"string"},"field":{"type":"string"},"value":{"anyOf":[{"type":"number"},{"type":"string"}]}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/item/add_serial_numbers":{"post":{"description":"/item/add_serial_numbers","summary":"Item - Add Serial Numbers","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"item_id":{"type":"string"},"serial_numbers":{"type":"array","items":{"type":"string"}},"no_refresh":{"type":"boolean"},"sku":{"type":"string"},"lot_count":{"type":"string"},"lot_prefix":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/item/add_tag":{"post":{"description":"/item/add_tag","summary":"Item - Add Tag","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"item_ids":{"type":"array","items":{"type":"string"}},"tag_id":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/item/bulk_assign":{"post":{"description":"/item/bulk_assign","summary":"Item - Bulk Assign","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"item_ids":{"type":"array","items":{"type":"string"}},"warehouse_id":{"type":"string"},"name":{"type":"string"},"location_alias":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/item/bulk_upsert":{"put":{"description":"/item/bulk_upsert","summary":"Item - Bulk Upsert","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object"}}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/item/create":{"post":{"description":"/item/create","summary":"Item - Create","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"sku":{"type":"string"},"upc":{"type":"string"},"location":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/item/create_upsert":{"post":{"description":"/item/create_upsert","summary":"Item - Create Upsert","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"item":{"type":"object"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/item/find_by_barcode":{"get":{"description":"/item/find_by_barcode","summary":"Item - Find By Barcode","parameters":[{"name":"barcode","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/item/get":{"get":{"description":"/item/get","summary":"Item - Get","parameters":[{"name":"selector","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"number","format":"integer"}},{"name":"skip","in":"query","schema":{"type":"number","format":"integer"}},{"name":"sort","in":"query","schema":{"type":"object"}},{"name":"fields","in":"query","schema":{"type":"object"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/item/get_locations":{"get":{"description":"/item/get_locations","summary":"Item - Get Locations","parameters":[{"name":"item_id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/item/new_remove_serial_number":{"delete":{"description":"/item/new_remove_serial_number","summary":"Item - New Remove Serial Number","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"params":{"type":"object"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/item/remove":{"delete":{"description":"/item/remove","summary":"Item - Remove","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"item_id":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/item/remove_barcode":{"delete":{"description":"/item/remove_barcode","summary":"Item - Remove Barcode","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"item_id":{"type":"string"},"upc":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/item/remove_custom_field":{"delete":{"description":"/item/remove_custom_field","summary":"Item - Remove Custom Field","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"item_id":{"type":"string"},"field":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/item/remove_serial_number":{"delete":{"description":"/item/remove_serial_number","summary":"Item - Remove Serial Number","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"item_id":{"type":"string"},"serial_number":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/item/remove_tag":{"delete":{"description":"/item/remove_tag","summary":"Item - Remove Tag","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"item_ids":{"type":"array","items":{"type":"string"}},"tag_id":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/item/set_tags":{"put":{"description":"/item/set_tags","summary":"Item - Set Tags","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"item_id":{"type":"string"},"tag_ids":{"type":"array","items":{"type":"string"}}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/item/update":{"put":{"description":"/item/update","summary":"Item - Update","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"item_id":{"type":"string"},"name":{"type":"string"},"sku":{"type":"string"},"upc":{"type":"string"},"weight":{"type":"number"},"weight_unit":{"type":"string"},"length":{"type":"number"},"width":{"type":"number"},"height":{"type":"number"},"dimensions_unit":{"type":"string"},"fulfillment_sku":{"type":"string"},"notes":{"type":"string"},"unit":{"type":"string"},"cost":{"type":"number"},"wholesale":{"type":"string"},"retail":{"type":"number"},"image":{"type":"string"},"active":{"type":"boolean"},"description":{"type":"string"},"sale":{"type":"number"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/item/update_alias_locations":{"put":{"description":"/item/update_alias_locations","summary":"Item - Update Alias Locations","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"item":{"type":"object"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/item/upsert":{"put":{"description":"/item/upsert","summary":"Item - Upsert","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"item":{"type":"object"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/s/job/item/bulk_remove":{"delete":{"description":"/s/job/item/bulk_remove","summary":"Item - Bulk Remove","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"item_ids":{"type":"array","items":{"type":"string"}}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://app.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/kit/add_barcode":{"post":{"description":"/kit/add_barcode","summary":"Kit - Add Barcode","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"kit_id":{"type":"string"},"upc":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["kit"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/kit/add_custom_field":{"post":{"description":"/kit/add_custom_field","summary":"Kit - Add Custom Field","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"kit_id":{"type":"string"},"field":{"type":"string"},"value":{"anyOf":[{"type":"number"},{"type":"string"}]}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["kit"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/kit/add_item":{"post":{"description":"/kit/add_item","summary":"Kit - Add Item","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"kit_id":{"type":"string"},"item_id":{"type":"string"},"quantity":{"type":"number","format":"integer"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["kit"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/kit/add_tag":{"post":{"description":"/kit/add_tag","summary":"Kit - Add Tag","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"kit_ids":{"type":"string"},"tag_id":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["kit"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/kit/create":{"post":{"description":"/kit/create","summary":"Kit - Create","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["kit"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/kit/edit_item":{"put":{"description":"/kit/edit_item","summary":"Kit - Edit Item","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"kit_id":{"type":"string"},"item_id":{"type":"string"},"quantity":{"type":"number","format":"integer"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["kit"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/kit/get":{"get":{"description":"/kit/get","summary":"Kit - Get","parameters":[{"name":"selector","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"number","format":"integer"}},{"name":"skip","in":"query","schema":{"type":"number","format":"integer"}},{"name":"sort","in":"query","schema":{"type":"object"}},{"name":"fields","in":"query","schema":{"type":"object"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["kit"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/kit/remove":{"delete":{"description":"/kit/remove","summary":"Kit - Remove","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"kit_id":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["kit"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/kit/remove_barcode":{"delete":{"description":"/kit/remove_barcode","summary":"Kit - Remove Barcode","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"kit_id":{"type":"string"},"upc":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["kit"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/kit/remove_custom_field":{"delete":{"description":"/kit/remove_custom_field","summary":"Kit - Remove Custom Field","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"kit_id":{"type":"string"},"field":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["kit"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/kit/remove_item":{"delete":{"description":"/kit/remove_item","summary":"Kit - Remove Item","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"kit_id":{"type":"string"},"item_id":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["kit"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/kit/remove_tag":{"delete":{"description":"/kit/remove_tag","summary":"Kit - Remove Tag","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"kit_ids":{"type":"string"},"tag_id":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["kit"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/kit/set_tags":{"put":{"description":"/kit/set_tags","summary":"Kit - Set Tags","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"kit_id":{"type":"string"},"tag_ids":{"type":"array","items":{"type":"string"}}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["kit"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/kit/update":{"put":{"description":"/kit/update","summary":"Kit - Update","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["kit"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/listing/get":{"get":{"description":"/listing/get","summary":"Listing - Get","parameters":[{"name":"selector","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"number","format":"integer"}},{"name":"skip","in":"query","schema":{"type":"number","format":"integer"}},{"name":"sort","in":"query","schema":{"type":"object"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["listing"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/s/job/listing/listing_links_csv_import":{"post":{"description":"/s/job/listing/listing_links_csv_import","summary":"Listing - Listing Links Csv Import","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://app.skulabs.com"}],"tags":["listing"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/s/job/listing/rules_csv_import":{"post":{"description":"/s/job/listing/rules_csv_import","summary":"Listing - Rules Csv Import","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://app.skulabs.com"}],"tags":["listing"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/location/add_item":{"post":{"description":"/location/add_item","summary":"Location - Add Item","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"item_id":{"type":"string"},"on_hand":{"type":"number","format":"integer"},"alert":{"type":"number","format":"integer"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["location"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/location/create":{"post":{"description":"/location/create","summary":"Location - Create","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"warehouse_id":{"type":"string"},"name":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["location"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/location/get":{"get":{"description":"/location/get","summary":"Location - Get","parameters":[{"name":"id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["location"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/location/get_all":{"get":{"description":"/location/get_all","summary":"Location - Get All","parameters":[{"name":"warehouse_id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["location"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/location/get_items":{"get":{"description":"/location/get_items","summary":"Location - Get Items","parameters":[{"name":"id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["location"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/location/get_list":{"get":{"description":"/location/get_list","summary":"Location - Get List","parameters":[{"name":"selector","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"number","format":"integer"}},{"name":"skip","in":"query","schema":{"type":"number","format":"integer"}},{"name":"sort","in":"query","schema":{"type":"object"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["location"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/location/remove_item":{"delete":{"description":"/location/remove_item","summary":"Location - Remove Item","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"item_id":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["location"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/order/add":{"post":{"description":"/order/add","summary":"Order - Add","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"store_id":{"type":"string"},"order_number":{"type":"string"},"stash":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/order/add_manual_shipment":{"post":{"description":"/order/add_manual_shipment","summary":"Order - Add Manual Shipment","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"store_id":{"type":"string"},"order_number":{"type":"string"},"address":{"type":"string"},"carrier":{"type":"string"},"tracking_number":{"type":"string"},"service":{"type":"string"},"order_items":{"type":"string"},"warehouse_id":{"type":"string"},"dropship":{"type":"string"},"no_refresh":{"type":"boolean"},"notes":{"type":"string"},"force_deduction":{"type":"string"},"cost":{"type":"number"},"options":{"type":"object"},"booking":{"type":"string"},"seal":{"type":"string"},"origin_address":{"type":"string"},"bol_pro_number":{"type":"string"},"total_bundles":{"type":"string"},"tracking_url":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/order/add_note":{"post":{"description":"/order/add_note","summary":"Order - Add Note","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"store_id":{"type":"string"},"order_number":{"type":"string"},"note":{"type":"string"},"type":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/order/add_tag":{"post":{"description":"/order/add_tag","summary":"Order - Add Tag","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"orders":{"type":"array","items":{"type":"object"}},"tag_id":{"type":"string"},"no_refresh":{"type":"boolean"},"reason":{"type":"string"},"is_system":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/order/add_tag_by_name":{"post":{"description":"/order/add_tag_by_name","summary":"Order - Add Tag By Name","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"orders":{"type":"array","items":{"type":"object"}},"tag_name":{"type":"string"},"reason":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/order/bulk_add_manual_shipments":{"post":{"description":"/order/bulk_add_manual_shipments","summary":"Order - Bulk Add Manual Shipments","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object"}},"options":{"type":"object"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/order/get":{"get":{"description":"/order/get","summary":"Order - Get","parameters":[{"name":"selector","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"number","format":"integer"}},{"name":"skip","in":"query","schema":{"type":"number","format":"integer"}},{"name":"sort","in":"query","schema":{"type":"object"}},{"name":"fields","in":"query","schema":{"type":"object"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/order/get_all":{"get":{"description":"/order/get_all","summary":"Order - Get All","parameters":[{"name":"start","in":"query","schema":{"type":"string","format":"date"}},{"name":"end","in":"query","schema":{"type":"string","format":"date"}},{"name":"tags","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"store_ids","in":"query","schema":{"type":"array","items":{"type":"string"}}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/order/get_archived":{"get":{"description":"/order/get_archived","summary":"Order - Get Archived","parameters":[{"name":"start","in":"query","schema":{"type":"string","format":"date"}},{"name":"end","in":"query","schema":{"type":"string","format":"date"}},{"name":"tags","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"store_ids","in":"query","schema":{"type":"array","items":{"type":"string"}}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/order/get_by_base_order_number":{"get":{"description":"/order/get_by_base_order_number","summary":"Order - Get By Base Order Number","parameters":[{"name":"base_order_number","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/order/get_customs_information":{"get":{"description":"/order/get_customs_information","summary":"Order - Get Customs Information","parameters":[{"name":"selector","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"number","format":"integer"}},{"name":"skip","in":"query","schema":{"type":"number","format":"integer"}},{"name":"sort","in":"query","schema":{"type":"object"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/order/get_scanned_serial_numbers":{"get":{"description":"/order/get_scanned_serial_numbers","summary":"Order - Get Scanned Serial Numbers","parameters":[{"name":"start","in":"query","schema":{"type":"string","format":"date"}},{"name":"end","in":"query","schema":{"type":"string","format":"date"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/order/get_shipped":{"get":{"description":"/order/get_shipped","summary":"Order - Get Shipped","parameters":[{"name":"start","in":"query","schema":{"type":"string","format":"date"}},{"name":"end","in":"query","schema":{"type":"string","format":"date"}},{"name":"tags","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"store_ids","in":"query","schema":{"type":"array","items":{"type":"string"}}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/order/get_single":{"get":{"description":"/order/get_single","summary":"Order - Get Single","parameters":[{"name":"store_id","in":"query","schema":{"type":"string"}},{"name":"order_number","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/order/get_single_bulk":{"get":{"description":"/order/get_single_bulk","summary":"Order - Get Single Bulk","parameters":[{"name":"order","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/order/get_skipped_scans":{"get":{"description":"/order/get_skipped_scans","summary":"Order - Get Skipped Scans","parameters":[{"name":"start","in":"query","schema":{"type":"string","format":"date"}},{"name":"end","in":"query","schema":{"type":"string","format":"date"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/order/get_unscanned_items":{"get":{"description":"/order/get_unscanned_items","summary":"Order - Get Unscanned Items","parameters":[{"name":"start","in":"query","schema":{"type":"string","format":"date"}},{"name":"end","in":"query","schema":{"type":"string","format":"date"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/order/modify_financial_status":{"put":{"description":"/order/modify_financial_status","summary":"Order - Modify Financial Status","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"store_id":{"type":"string"},"order_number":{"type":"string"},"financial_status":{"type":"string"},"status_date":{"type":"string"},"order":{"type":"string"},"refresh_cache":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/order/modify_status":{"put":{"description":"/order/modify_status","summary":"Order - Modify Status","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"store_id":{"type":"string"},"order_number":{"type":"string"},"status":{"type":"string"},"refresh_cache":{"type":"string"},"status_date":{"type":"string"},"force":{"type":"string"},"order":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/order/remove_tag":{"delete":{"description":"/order/remove_tag","summary":"Order - Remove Tag","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"orders":{"type":"array","items":{"type":"object"}},"tag_id":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/order/set_tags":{"put":{"description":"/order/set_tags","summary":"Order - Set Tags","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"store_id":{"type":"string"},"order_number":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"reason":{"type":"string"},"orders":{"type":"array","items":{"type":"object"}}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/order/status":{"get":{"description":"/order/status","summary":"Order - Status","parameters":[{"name":"store_id","in":"query","schema":{"type":"string"}},{"name":"order_number","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/order/undershipped_item_report":{"get":{"description":"/order/undershipped_item_report","summary":"Order - Undershipped Item Report","parameters":[{"name":"start","in":"query","schema":{"type":"string","format":"date"}},{"name":"end","in":"query","schema":{"type":"string","format":"date"}},{"name":"store_ids","in":"query","schema":{"type":"array","items":{"type":"string"}}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/order/unscanned_order_list":{"get":{"description":"/order/unscanned_order_list","summary":"Order - Unscanned Order List","parameters":[{"name":"start","in":"query","schema":{"type":"string","format":"date"}},{"name":"end","in":"query","schema":{"type":"string","format":"date"}},{"name":"store_ids","in":"query","schema":{"type":"array","items":{"type":"string"}}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/purchase_order/add_tag":{"post":{"description":"/purchase_order/add_tag","summary":"Purchase Order - Add Tag","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"purchase_order_ids":{"type":"array","items":{"type":"string"}},"tag_id":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/purchase_order/bulk_accept":{"post":{"description":"/purchase_order/bulk_accept","summary":"Purchase Order - Bulk Accept","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object"}}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/purchase_order/create":{"post":{"description":"/purchase_order/create","summary":"Purchase Order - Create","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"number":{"type":"number","format":"integer"},"store_id":{"type":"string"},"distributor_id":{"type":"string"},"warehouse_id":{"type":"string"},"items":{"type":"array","items":{"type":"object"}},"subtotal":{"type":"number"},"tax":{"type":"number"},"tax_per":{"type":"string"},"total":{"type":"number"},"memo":{"type":"string"},"terms":{"type":"string"},"shipping":{"type":"number"},"method":{"type":"string"},"discount":{"type":"number"},"discount_per":{"type":"number"},"dropship_address":{"type":"string"},"status":{"type":"string"},"due_date":{"type":"string","format":"date"},"dropshipped":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/purchase_order/create_v2":{"post":{"description":"/purchase_order/create_v2","summary":"Purchase Order - Create V 2","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/purchase_order/get":{"get":{"description":"/purchase_order/get","summary":"Purchase Order - Get","parameters":[{"name":"selector","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"number","format":"integer"}},{"name":"skip","in":"query","schema":{"type":"number","format":"integer"}},{"name":"sort","in":"query","schema":{"type":"object"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/purchase_order/get_by_status":{"get":{"description":"/purchase_order/get_by_status","summary":"Purchase Order - Get By Status","parameters":[{"name":"status","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/purchase_order/get_closed":{"get":{"description":"/purchase_order/get_closed","summary":"Purchase Order - Get Closed","parameters":[{"name":"start","in":"query","schema":{"type":"string","format":"date"}},{"name":"end","in":"query","schema":{"type":"string","format":"date"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/purchase_order/get_closed_with_items":{"get":{"description":"/purchase_order/get_closed_with_items","summary":"Purchase Order - Get Closed With Items","parameters":[{"name":"start","in":"query","schema":{"type":"string","format":"date"}},{"name":"end","in":"query","schema":{"type":"string","format":"date"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/purchase_order/get_processing":{"get":{"description":"/purchase_order/get_processing","summary":"Purchase Order - Get Processing","parameters":[{"name":"data","in":"query","schema":{"type":"object"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/purchase_order/get_processing_with_item_id":{"get":{"description":"/purchase_order/get_processing_with_item_id","summary":"Purchase Order - Get Processing With Item Id","parameters":[{"name":"item_id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/purchase_order/get_processing_with_items":{"get":{"description":"/purchase_order/get_processing_with_items","summary":"Purchase Order - Get Processing With Items","parameters":[],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/purchase_order/get_single":{"get":{"description":"/purchase_order/get_single","summary":"Purchase Order - Get Single","parameters":[{"name":"id","in":"query","schema":{"type":"string"}},{"name":"fields","in":"query","schema":{"type":"object"}},{"name":"options","in":"query","schema":{"type":"object"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/purchase_order/get_single_by_number":{"get":{"description":"/purchase_order/get_single_by_number","summary":"Purchase Order - Get Single By Number","parameters":[{"name":"number","in":"query","schema":{"type":"number","format":"integer"}},{"name":"fields","in":"query","schema":{"type":"object"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/purchase_order/new_create":{"post":{"description":"/purchase_order/new_create","summary":"Purchase Order - New Create","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/purchase_order/remove_tag":{"post":{"description":"/purchase_order/remove_tag","summary":"Purchase Order - Remove Tag","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"purchase_order_ids":{"type":"array","items":{"type":"string"}},"tag_id":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/purchase_order/set_tags":{"put":{"description":"/purchase_order/set_tags","summary":"Purchase Order - Set Tags","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/shipments/get":{"get":{"description":"/shipments/get","summary":"Shipments - Get","parameters":[{"name":"selector","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"number","format":"integer"}},{"name":"skip","in":"query","schema":{"type":"number","format":"integer"}},{"name":"sort","in":"query","schema":{"type":"object"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["shipments"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/shipments/get_by_range":{"get":{"description":"/shipments/get_by_range","summary":"Shipments - Get By Range","parameters":[{"name":"start","in":"query","schema":{"type":"string","format":"date"}},{"name":"end","in":"query","schema":{"type":"string","format":"date"}},{"name":"page","in":"query","schema":{"type":"number","format":"integer"}},{"name":"simple","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["shipments"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/s/job/shipments/csv_export":{"get":{"description":"/s/job/shipments/csv_export","summary":"Shipments - Csv Export","parameters":[{"name":"store_ids","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"start","in":"query","schema":{"type":"string","format":"date"}},{"name":"end","in":"query","schema":{"type":"string","format":"date"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://app.skulabs.com"}],"tags":["shipments"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/s/ship/shipping/restore_inventory":{"post":{"description":"/s/ship/shipping/restore_inventory","summary":"Shipping - Restore Inventory","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"store_id":{"type":"string"},"order_number":{"type":"string"},"shipment_id":{"type":"string"},"tracking_number":{"type":"string"},"no_refresh":{"type":"boolean"},"carrier_shipment_id":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://app.skulabs.com"}],"tags":["shipping"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/s/ship/shipping/void":{"delete":{"description":"/s/ship/shipping/void","summary":"Shipping - Void","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"store_id":{"type":"string"},"order_number":{"type":"string"},"shipment_id":{"type":"string"},"tracking_number":{"type":"string"},"no_refresh":{"type":"boolean"},"carrier_shipment_id":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://app.skulabs.com"}],"tags":["shipping"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/store/get":{"get":{"description":"/store/get","summary":"Store - Get","parameters":[],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["store"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/tag/add":{"post":{"description":"/tag/add","summary":"Tag - Add","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"type":{"type":"string"},"color":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["tag"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/tag/get":{"get":{"description":"/tag/get","summary":"Tag - Get","parameters":[{"name":"selector","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"number","format":"integer"}},{"name":"skip","in":"query","schema":{"type":"number","format":"integer"}},{"name":"sort","in":"query","schema":{"type":"object"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["tag"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/tag/remove":{"delete":{"description":"/tag/remove","summary":"Tag - Remove","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"tag_id":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["tag"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/tag/update":{"put":{"description":"/tag/update","summary":"Tag - Update","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"tag_id":{"type":"string"},"name":{"type":"string"},"color":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["tag"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/transfer_order/create":{"post":{"description":"/transfer_order/create","summary":"Transfer Order - Create","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"number":{"type":"number","format":"integer"},"items":{"type":"array","items":{"type":"object"}},"source_warehouse_id":{"type":"string"},"destination_warehouse_id":{"type":"string"},"notes":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["transfer_order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/transfer_order/get":{"get":{"description":"/transfer_order/get","summary":"Transfer Order - Get","parameters":[{"name":"id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["transfer_order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/transfer_order/get_all":{"get":{"description":"/transfer_order/get_all","summary":"Transfer Order - Get All","parameters":[{"name":"start","in":"query","schema":{"type":"string","format":"date"}},{"name":"end","in":"query","schema":{"type":"string","format":"date"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["transfer_order"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/warehouse/create":{"post":{"description":"/warehouse/create","summary":"Warehouse - Create","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"type":{"type":"string"},"address":{"type":"string"},"store_id":{"type":"string"},"states":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["warehouse"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/warehouse/get":{"get":{"description":"/warehouse/get","summary":"Warehouse - Get","parameters":[{"name":"selector","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"number","format":"integer"}},{"name":"skip","in":"query","schema":{"type":"number","format":"integer"}},{"name":"sort","in":"query","schema":{"type":"object"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["warehouse"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/warehouse/stats":{"get":{"description":"/warehouse/stats","summary":"Warehouse - Stats","parameters":[{"name":"warehouse_id","in":"query","schema":{"type":"string"}},{"name":"with_locations","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["warehouse"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/webhook/add_handler":{"post":{"description":"/webhook/add_handler","summary":"Webhook - Add Handler","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"name":{"type":"string"},"handler":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["webhook"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}},"/webhook/remove_handler":{"post":{"description":"/webhook/remove_handler","summary":"Webhook - Remove Handler","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"_id":{"type":"string"}}}}}},"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["webhook"],"responses":{"200":{"description":"OK"},"400":{"description":"Malformed request. Check that you have the correct parameters and that they are formatted correctly."},"401":{"description":"Unauthorized. Did you forget to include your API key?"}}}}},"components":{"securitySchemes":{"SKULabsToken":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}