
{"openapi":"3.0.3","info":{"title":"SKULabs API","description":"Most API keys have \"platformGeneric\" and \"platformApi\" scopes included. Contact us to convert more routes from \"platformUser\" (only available to users) to \"platformGeneric\" (available to users and api keys) upon request.","version":"4.5.0"},"servers":[{"url":"https://api.skulabs.com/"},{"url":"https://app.skulabs.com/s/"}],"tags":[{"name":"customer"},{"name":"cycle_count"},{"name":"distributor"},{"name":"inventory"},{"name":"inventory_table"},{"name":"item"},{"name":"kit"},{"name":"listing"},{"name":"location"},{"name":"oauth"},{"name":"order"},{"name":"purchase_order"},{"name":"run"},{"name":"shipments"},{"name":"shipping"},{"name":"store"},{"name":"tag"},{"name":"transfer_order"},{"name":"warehouse"}],"paths":{"/customer/add_note":{"post":{"description":"/customer/add_note","summary":"Customer Add Note","parameters":[{"name":"id","in":"query","schema":{"type":"string"}},{"name":"note","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["customer"],"responses":{"200":{"description":"OK"}}}},"/customer/add_tag":{"post":{"description":"/customer/add_tag","summary":"Customer Add Tag","parameters":[{"name":"ids","in":"query","schema":{"type":"string"}},{"name":"tag_id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["customer"],"responses":{"200":{"description":"OK"}}}},"/customer/get_customer":{"get":{"description":"/customer/get_customer","summary":"Customer Get Customer","parameters":[{"name":"id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["customer"],"responses":{"200":{"description":"OK"}}}},"/customer/get_customers":{"get":{"description":"/customer/get_customers","summary":"Customer Get Customers","parameters":[{"name":"selector","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"string"}},{"name":"skip","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["customer"],"responses":{"200":{"description":"OK"}}}},"/customer/remove_tag":{"post":{"description":"/customer/remove_tag","summary":"Customer Remove Tag","parameters":[{"name":"ids","in":"query","schema":{"type":"string"}},{"name":"tag_id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["customer"],"responses":{"200":{"description":"OK"}}}},"/cycle_count/get":{"get":{"description":"/cycle_count/get","summary":"Cycle Count Get","parameters":[{"name":"id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["cycle_count"],"responses":{"200":{"description":"OK"}}}},"/cycle_count/get_all":{"get":{"description":"/cycle_count/get_all","summary":"Cycle Count Get All","parameters":[{"name":"start","in":"query","schema":{"type":"string"}},{"name":"end","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["cycle_count"],"responses":{"200":{"description":"OK"}}}},"/distributor/add_item":{"put":{"description":"/distributor/add_item","summary":"Distributor Add Item","parameters":[{"name":"data","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["distributor"],"responses":{"200":{"description":"OK"}}}},"/distributor/create":{"post":{"description":"/distributor/create","summary":"Distributor Create","parameters":[{"name":"data","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["distributor"],"responses":{"200":{"description":"OK"}}}},"/distributor/edit_item":{"put":{"description":"/distributor/edit_item","summary":"Distributor Edit Item","parameters":[{"name":"item","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["distributor"],"responses":{"200":{"description":"OK"}}}},"/distributor/get":{"get":{"description":"/distributor/get","summary":"Distributor Get","parameters":[{"name":"selector","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"string"}},{"name":"skip","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["distributor"],"responses":{"200":{"description":"OK"}}}},"/distributor/remove_item":{"delete":{"description":"/distributor/remove_item","summary":"Distributor Remove Item","parameters":[{"name":"id","in":"query","schema":{"type":"string"}},{"name":"item_id","in":"query","schema":{"type":"string"}},{"name":"quantity","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["distributor"],"responses":{"200":{"description":"OK"}}}},"/distributor/update":{"put":{"description":"/distributor/update","summary":"Distributor Update","parameters":[{"name":"data","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["distributor"],"responses":{"200":{"description":"OK"}}}},"/inventory/bulk_reconciliation":{"post":{"description":"/inventory/bulk_reconciliation","summary":"Inventory Bulk Reconciliation","parameters":[{"name":"type","in":"query","schema":{"type":"string"}},{"name":"reason","in":"query","schema":{"type":"string"}},{"name":"notes","in":"query","schema":{"type":"string"}},{"name":"rows","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"}}}},"/inventory/decrease_on_hand":{"put":{"description":"/inventory/decrease_on_hand","summary":"Inventory Decrease On Hand","parameters":[{"name":"location_id","in":"query","schema":{"type":"string"}},{"name":"item_id","in":"query","schema":{"type":"string"}},{"name":"amount","in":"query","schema":{"type":"string"}},{"name":"notes","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"}}}},"/inventory/deduct_serial_numbers":{"post":{"description":"/inventory/deduct_serial_numbers","summary":"Inventory Deduct Serial Numbers","parameters":[{"name":"item_id","in":"query","schema":{"type":"string"}},{"name":"serial_numbers","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"}}}},"/inventory/get":{"get":{"description":"/inventory/get","summary":"Inventory Get","parameters":[{"name":"data","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"}}}},"/inventory/get_grouped_locations_map":{"post":{"description":"/inventory/get_grouped_locations_map","summary":"Inventory Get Grouped Locations Map","parameters":[{"name":"data","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"}}}},"/inventory/get_history":{"get":{"description":"/inventory/get_history","summary":"Inventory Get History","parameters":[{"name":"start","in":"query","schema":{"type":"string"}},{"name":"end","in":"query","schema":{"type":"string"}},{"name":"notes","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"}}}},"/inventory/get_inventory_history":{"get":{"description":"/inventory/get_inventory_history","summary":"Inventory Get Inventory History","parameters":[{"name":"start","in":"query","schema":{"type":"string"}},{"name":"end","in":"query","schema":{"type":"string"}},{"name":"notes","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"}}}},"/inventory/get_item_free":{"get":{"description":"/inventory/get_item_free","summary":"Inventory Get Item Free","parameters":[{"name":"sku","in":"query","schema":{"type":"string"}},{"name":"warehouse_ids","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"}}}},"/inventory/get_items":{"post":{"description":"/inventory/get_items","summary":"Inventory Get Items","parameters":[{"name":"item_ids","in":"query","schema":{"type":"string"}},{"name":"warehouse_ids","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"}}}},"/inventory/get_items_and_kits_map":{"post":{"description":"/inventory/get_items_and_kits_map","summary":"Inventory Get Items And Kits Map","parameters":[{"name":"data","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"}}}},"/inventory/get_items_incoming":{"post":{"description":"/inventory/get_items_incoming","summary":"Inventory Get Items Incoming","parameters":[{"name":"item_ids","in":"query","schema":{"type":"string"}},{"name":"warehouse_ids","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"}}}},"/inventory/get_items_map":{"post":{"description":"/inventory/get_items_map","summary":"Inventory Get Items Map","parameters":[{"name":"data","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"}}}},"/inventory/get_kits_map":{"post":{"description":"/inventory/get_kits_map","summary":"Inventory Get Kits Map","parameters":[{"name":"data","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"}}}},"/inventory/get_on_hand_location_map":{"post":{"description":"/inventory/get_on_hand_location_map","summary":"Inventory Get On Hand Location Map","parameters":[{"name":"data","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"}}}},"/inventory/get_received_history":{"get":{"description":"/inventory/get_received_history","summary":"Inventory Get Received History","parameters":[{"name":"start","in":"query","schema":{"type":"string"}},{"name":"end","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"}}}},"/inventory/get_reserved_map":{"get":{"description":"/inventory/get_reserved_map","summary":"Inventory Get Reserved Map","parameters":[{"name":"store_ids","in":"query","schema":{"type":"string"}},{"name":"listing_links","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"}}}},"/inventory/get_via_post_reserved_map":{"post":{"description":"/inventory/get_via_post_reserved_map","summary":"Inventory Get Via Post Reserved Map","parameters":[{"name":"store_ids","in":"query","schema":{"type":"string"}},{"name":"listing_links","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"}}}},"/inventory/increase_on_hand":{"put":{"description":"/inventory/increase_on_hand","summary":"Inventory Increase On Hand","parameters":[{"name":"location_id","in":"query","schema":{"type":"string"}},{"name":"item_id","in":"query","schema":{"type":"string"}},{"name":"amount","in":"query","schema":{"type":"string"}},{"name":"notes","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"}}}},"/inventory/upsert":{"put":{"description":"/inventory/upsert","summary":"Inventory Upsert","parameters":[{"name":"location_name","in":"query","schema":{"type":"string"}},{"name":"item_id","in":"query","schema":{"type":"string"}},{"name":"on_hand","in":"query","schema":{"type":"string"}},{"name":"alert","in":"query","schema":{"type":"string"}},{"name":"notes","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["inventory"],"responses":{"200":{"description":"OK"}}}},"/s/inventory/inventory_table/build_po_rows":{"post":{"description":"/s/inventory/inventory_table/build_po_rows","summary":"Inventory Inventory Table Build Po Rows","parameters":[{"name":"data","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://app.skulabs.com"}],"tags":["inventory_table"],"responses":{"200":{"description":"OK"}}}},"/s/inventory/inventory_table/build_reconcile_rows":{"post":{"description":"/s/inventory/inventory_table/build_reconcile_rows","summary":"Inventory Inventory Table Build Reconcile Rows","parameters":[{"name":"data","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://app.skulabs.com"}],"tags":["inventory_table"],"responses":{"200":{"description":"OK"}}}},"/s/inventory/inventory_table/build_rows":{"post":{"description":"/s/inventory/inventory_table/build_rows","summary":"Inventory Inventory Table Build Rows","parameters":[{"name":"data","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://app.skulabs.com"}],"tags":["inventory_table"],"responses":{"200":{"description":"OK"}}}},"/s/inventory/inventory_table/build_to_rows":{"post":{"description":"/s/inventory/inventory_table/build_to_rows","summary":"Inventory Inventory Table Build To Rows","parameters":[{"name":"data","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://app.skulabs.com"}],"tags":["inventory_table"],"responses":{"200":{"description":"OK"}}}},"/s/inventory/inventory_table/build_velocity_rows":{"post":{"description":"/s/inventory/inventory_table/build_velocity_rows","summary":"Inventory Inventory Table Build Velocity Rows","parameters":[{"name":"data","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://app.skulabs.com"}],"tags":["inventory_table"],"responses":{"200":{"description":"OK"}}}},"/item/add_barcode":{"post":{"description":"/item/add_barcode","summary":"Item Add Barcode","parameters":[{"name":"item_id","in":"query","schema":{"type":"string"}},{"name":"upc","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"}}}},"/item/add_custom_field":{"post":{"description":"/item/add_custom_field","summary":"Item Add Custom Field","parameters":[{"name":"item_id","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"string"}},{"name":"value","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"}}}},"/item/add_serial_numbers":{"post":{"description":"/item/add_serial_numbers","summary":"Item Add Serial Numbers","parameters":[{"name":"item_id","in":"query","schema":{"type":"string"}},{"name":"serial_numbers","in":"query","schema":{"type":"string"}},{"name":"no_refresh","in":"query","schema":{"type":"string"}},{"name":"sku","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"}}}},"/item/add_tag":{"post":{"description":"/item/add_tag","summary":"Item Add Tag","parameters":[{"name":"item_ids","in":"query","schema":{"type":"string"}},{"name":"tag_id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"}}}},"/item/bulk_assign":{"post":{"description":"/item/bulk_assign","summary":"Item Bulk Assign","parameters":[{"name":"item_ids","in":"query","schema":{"type":"string"}},{"name":"warehouse_id","in":"query","schema":{"type":"string"}},{"name":"name","in":"query","schema":{"type":"string"}},{"name":"location_alias","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"}}}},"/item/bulk_upsert":{"put":{"description":"/item/bulk_upsert","summary":"Item Bulk Upsert","parameters":[{"name":"items","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"}}}},"/item/create":{"post":{"description":"/item/create","summary":"Item Create","parameters":[{"name":"name","in":"query","schema":{"type":"string"}},{"name":"sku","in":"query","schema":{"type":"string"}},{"name":"upc","in":"query","schema":{"type":"string"}},{"name":"location","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"}}}},"/item/create_upsert":{"post":{"description":"/item/create_upsert","summary":"Item Create Upsert","parameters":[{"name":"item","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"}}}},"/item/find_by_barcode":{"get":{"description":"/item/find_by_barcode","summary":"Item Find By Barcode","parameters":[{"name":"barcode","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"}}}},"/item/get":{"get":{"description":"/item/get","summary":"Item Get","parameters":[{"name":"selector","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"string"}},{"name":"skip","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}},{"name":"fields","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"}}}},"/item/get_locations":{"get":{"description":"/item/get_locations","summary":"Item Get Locations","parameters":[{"name":"item_id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"}}}},"/item/new_remove_serial_number":{"delete":{"description":"/item/new_remove_serial_number","summary":"Item New Remove Serial Number","parameters":[{"name":"params","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"}}}},"/item/remove":{"delete":{"description":"/item/remove","summary":"Item Remove","parameters":[{"name":"item_id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"}}}},"/item/remove_barcode":{"delete":{"description":"/item/remove_barcode","summary":"Item Remove Barcode","parameters":[{"name":"item_id","in":"query","schema":{"type":"string"}},{"name":"upc","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"}}}},"/item/remove_custom_field":{"delete":{"description":"/item/remove_custom_field","summary":"Item Remove Custom Field","parameters":[{"name":"item_id","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"}}}},"/item/remove_serial_number":{"delete":{"description":"/item/remove_serial_number","summary":"Item Remove Serial Number","parameters":[{"name":"item_id","in":"query","schema":{"type":"string"}},{"name":"serial_number","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"}}}},"/item/remove_tag":{"delete":{"description":"/item/remove_tag","summary":"Item Remove Tag","parameters":[{"name":"item_ids","in":"query","schema":{"type":"string"}},{"name":"tag_id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"}}}},"/item/set_tags":{"put":{"description":"/item/set_tags","summary":"Item Set Tags","parameters":[{"name":"item_id","in":"query","schema":{"type":"string"}},{"name":"tag_ids","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"}}}},"/item/update":{"put":{"description":"/item/update","summary":"Item Update","parameters":[{"name":"item_id","in":"query","schema":{"type":"string"}},{"name":"name","in":"query","schema":{"type":"string"}},{"name":"sku","in":"query","schema":{"type":"string"}},{"name":"upc","in":"query","schema":{"type":"string"}},{"name":"weight","in":"query","schema":{"type":"string"}},{"name":"weight_unit","in":"query","schema":{"type":"string"}},{"name":"length","in":"query","schema":{"type":"string"}},{"name":"width","in":"query","schema":{"type":"string"}},{"name":"height","in":"query","schema":{"type":"string"}},{"name":"dimensions_unit","in":"query","schema":{"type":"string"}},{"name":"fulfillment_sku","in":"query","schema":{"type":"string"}},{"name":"notes","in":"query","schema":{"type":"string"}},{"name":"unit","in":"query","schema":{"type":"string"}},{"name":"cost","in":"query","schema":{"type":"string"}},{"name":"wholesale","in":"query","schema":{"type":"string"}},{"name":"retail","in":"query","schema":{"type":"string"}},{"name":"image","in":"query","schema":{"type":"string"}},{"name":"active","in":"query","schema":{"type":"string"}},{"name":"description","in":"query","schema":{"type":"string"}},{"name":"sale","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"}}}},"/item/update_alias_locations":{"put":{"description":"/item/update_alias_locations","summary":"Item Update Alias Locations","parameters":[{"name":"item","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"}}}},"/item/upsert":{"put":{"description":"/item/upsert","summary":"Item Upsert","parameters":[{"name":"item","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"}}}},"/s/job/item/bulk_remove":{"delete":{"description":"/s/job/item/bulk_remove","summary":"Job Item Bulk Remove","parameters":[{"name":"item_ids","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://app.skulabs.com"}],"tags":["item"],"responses":{"200":{"description":"OK"}}}},"/kit/add_barcode":{"post":{"description":"/kit/add_barcode","summary":"Kit Add Barcode","parameters":[{"name":"kit_id","in":"query","schema":{"type":"string"}},{"name":"upc","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["kit"],"responses":{"200":{"description":"OK"}}}},"/kit/add_custom_field":{"post":{"description":"/kit/add_custom_field","summary":"Kit Add Custom Field","parameters":[{"name":"kit_id","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"string"}},{"name":"value","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["kit"],"responses":{"200":{"description":"OK"}}}},"/kit/add_item":{"post":{"description":"/kit/add_item","summary":"Kit Add Item","parameters":[{"name":"kit_id","in":"query","schema":{"type":"string"}},{"name":"item_id","in":"query","schema":{"type":"string"}},{"name":"quantity","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["kit"],"responses":{"200":{"description":"OK"}}}},"/kit/add_tag":{"post":{"description":"/kit/add_tag","summary":"Kit Add Tag","parameters":[{"name":"kit_ids","in":"query","schema":{"type":"string"}},{"name":"tag_id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["kit"],"responses":{"200":{"description":"OK"}}}},"/kit/create":{"post":{"description":"/kit/create","summary":"Kit Create","parameters":[{"name":"data","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["kit"],"responses":{"200":{"description":"OK"}}}},"/kit/edit_item":{"put":{"description":"/kit/edit_item","summary":"Kit Edit Item","parameters":[{"name":"kit_id","in":"query","schema":{"type":"string"}},{"name":"item_id","in":"query","schema":{"type":"string"}},{"name":"quantity","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["kit"],"responses":{"200":{"description":"OK"}}}},"/kit/get":{"get":{"description":"/kit/get","summary":"Kit Get","parameters":[{"name":"selector","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"string"}},{"name":"skip","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}},{"name":"fields","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["kit"],"responses":{"200":{"description":"OK"}}}},"/kit/remove":{"delete":{"description":"/kit/remove","summary":"Kit Remove","parameters":[{"name":"kit_id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["kit"],"responses":{"200":{"description":"OK"}}}},"/kit/remove_barcode":{"delete":{"description":"/kit/remove_barcode","summary":"Kit Remove Barcode","parameters":[{"name":"kit_id","in":"query","schema":{"type":"string"}},{"name":"upc","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["kit"],"responses":{"200":{"description":"OK"}}}},"/kit/remove_custom_field":{"delete":{"description":"/kit/remove_custom_field","summary":"Kit Remove Custom Field","parameters":[{"name":"kit_id","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["kit"],"responses":{"200":{"description":"OK"}}}},"/kit/remove_item":{"delete":{"description":"/kit/remove_item","summary":"Kit Remove Item","parameters":[{"name":"kit_id","in":"query","schema":{"type":"string"}},{"name":"item_id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["kit"],"responses":{"200":{"description":"OK"}}}},"/kit/remove_tag":{"delete":{"description":"/kit/remove_tag","summary":"Kit Remove Tag","parameters":[{"name":"kit_ids","in":"query","schema":{"type":"string"}},{"name":"tag_id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["kit"],"responses":{"200":{"description":"OK"}}}},"/kit/set_tags":{"put":{"description":"/kit/set_tags","summary":"Kit Set Tags","parameters":[{"name":"kit_id","in":"query","schema":{"type":"string"}},{"name":"tag_ids","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["kit"],"responses":{"200":{"description":"OK"}}}},"/kit/update":{"put":{"description":"/kit/update","summary":"Kit Update","parameters":[{"name":"data","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["kit"],"responses":{"200":{"description":"OK"}}}},"/listing/get":{"get":{"description":"/listing/get","summary":"Listing Get","parameters":[{"name":"selector","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"string"}},{"name":"skip","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["listing"],"responses":{"200":{"description":"OK"}}}},"/s/job/listing/listing_links_csv_import":{"post":{"description":"/s/job/listing/listing_links_csv_import","summary":"Job Listing Listing Links Csv Import","parameters":[{"name":"data","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://app.skulabs.com"}],"tags":["listing"],"responses":{"200":{"description":"OK"}}}},"/s/job/listing/rules_csv_import":{"post":{"description":"/s/job/listing/rules_csv_import","summary":"Job Listing Rules Csv Import","parameters":[{"name":"data","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://app.skulabs.com"}],"tags":["listing"],"responses":{"200":{"description":"OK"}}}},"/location/add_item":{"post":{"description":"/location/add_item","summary":"Location Add Item","parameters":[{"name":"id","in":"query","schema":{"type":"string"}},{"name":"item_id","in":"query","schema":{"type":"string"}},{"name":"on_hand","in":"query","schema":{"type":"string"}},{"name":"alert","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["location"],"responses":{"200":{"description":"OK"}}}},"/location/create":{"post":{"description":"/location/create","summary":"Location Create","parameters":[{"name":"warehouse_id","in":"query","schema":{"type":"string"}},{"name":"name","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["location"],"responses":{"200":{"description":"OK"}}}},"/location/get":{"get":{"description":"/location/get","summary":"Location Get","parameters":[{"name":"id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["location"],"responses":{"200":{"description":"OK"}}}},"/location/get_all":{"get":{"description":"/location/get_all","summary":"Location Get All","parameters":[{"name":"warehouse_id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["location"],"responses":{"200":{"description":"OK"}}}},"/location/get_items":{"get":{"description":"/location/get_items","summary":"Location Get Items","parameters":[{"name":"id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["location"],"responses":{"200":{"description":"OK"}}}},"/location/get_list":{"get":{"description":"/location/get_list","summary":"Location Get List","parameters":[{"name":"selector","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"string"}},{"name":"skip","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["location"],"responses":{"200":{"description":"OK"}}}},"/location/remove_item":{"delete":{"description":"/location/remove_item","summary":"Location Remove Item","parameters":[{"name":"id","in":"query","schema":{"type":"string"}},{"name":"item_id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["location"],"responses":{"200":{"description":"OK"}}}},"/oauth/token":{"post":{"description":"/oauth/token","summary":"Oauth Token","parameters":[{"name":"grant_type","in":"query","schema":{"type":"string"}},{"name":"code","in":"query","schema":{"type":"string"}},{"name":"client_id","in":"query","schema":{"type":"string"}},{"name":"client_secret","in":"query","schema":{"type":"string"}},{"name":"state","in":"query","schema":{"type":"string"}},{"name":"req","in":"query","schema":{"type":"string"}},{"name":"res","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["oauth"],"responses":{"200":{"description":"OK"}}}},"/oauth/userInfo":{"get":{"description":"/oauth/userInfo","summary":"Oauth User Info","parameters":[],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["oauth"],"responses":{"200":{"description":"OK"}}}},"/order/add":{"post":{"description":"/order/add","summary":"Order Add","parameters":[{"name":"store_id","in":"query","schema":{"type":"string"}},{"name":"order_number","in":"query","schema":{"type":"string"}},{"name":"stash","in":"query","schema":{"type":"string"}},{"name":"tags","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"}}}},"/order/add_manual_shipment":{"post":{"description":"/order/add_manual_shipment","summary":"Order Add Manual Shipment","parameters":[{"name":"store_id","in":"query","schema":{"type":"string"}},{"name":"order_number","in":"query","schema":{"type":"string"}},{"name":"address","in":"query","schema":{"type":"string"}},{"name":"carrier","in":"query","schema":{"type":"string"}},{"name":"tracking_number","in":"query","schema":{"type":"string"}},{"name":"service","in":"query","schema":{"type":"string"}},{"name":"order_items","in":"query","schema":{"type":"string"}},{"name":"warehouse_id","in":"query","schema":{"type":"string"}},{"name":"dropship","in":"query","schema":{"type":"string"}},{"name":"no_refresh","in":"query","schema":{"type":"string"}},{"name":"notes","in":"query","schema":{"type":"string"}},{"name":"force_deduction","in":"query","schema":{"type":"string"}},{"name":"cost","in":"query","schema":{"type":"string"}},{"name":"options","in":"query","schema":{"type":"string"}},{"name":"booking","in":"query","schema":{"type":"string"}},{"name":"seal","in":"query","schema":{"type":"string"}},{"name":"origin_address","in":"query","schema":{"type":"string"}},{"name":"bol_pro_number","in":"query","schema":{"type":"string"}},{"name":"total_bundles","in":"query","schema":{"type":"string"}},{"name":"tracking_url","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"}}}},"/order/add_note":{"post":{"description":"/order/add_note","summary":"Order Add Note","parameters":[{"name":"store_id","in":"query","schema":{"type":"string"}},{"name":"order_number","in":"query","schema":{"type":"string"}},{"name":"note","in":"query","schema":{"type":"string"}},{"name":"type","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"}}}},"/order/add_tag":{"post":{"description":"/order/add_tag","summary":"Order Add Tag","parameters":[{"name":"orders","in":"query","schema":{"type":"string"}},{"name":"tag_id","in":"query","schema":{"type":"string"}},{"name":"no_refresh","in":"query","schema":{"type":"string"}},{"name":"reason","in":"query","schema":{"type":"string"}},{"name":"is_system","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"}}}},"/order/add_tag_by_name":{"post":{"description":"/order/add_tag_by_name","summary":"Order Add Tag By Name","parameters":[{"name":"orders","in":"query","schema":{"type":"string"}},{"name":"tag_name","in":"query","schema":{"type":"string"}},{"name":"reason","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"}}}},"/order/bulk_add_manual_shipments":{"post":{"description":"/order/bulk_add_manual_shipments","summary":"Order Bulk Add Manual Shipments","parameters":[{"name":"rows","in":"query","schema":{"type":"string"}},{"name":"options","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"}}}},"/order/get":{"get":{"description":"/order/get","summary":"Order Get","parameters":[{"name":"selector","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"string"}},{"name":"skip","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}},{"name":"fields","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"}}}},"/order/get_all":{"get":{"description":"/order/get_all","summary":"Order Get All","parameters":[{"name":"start","in":"query","schema":{"type":"string"}},{"name":"end","in":"query","schema":{"type":"string"}},{"name":"tags","in":"query","schema":{"type":"string"}},{"name":"store_ids","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"}}}},"/order/get_archived":{"get":{"description":"/order/get_archived","summary":"Order Get Archived","parameters":[{"name":"start","in":"query","schema":{"type":"string"}},{"name":"end","in":"query","schema":{"type":"string"}},{"name":"tags","in":"query","schema":{"type":"string"}},{"name":"store_ids","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"}}}},"/order/get_by_base_order_number":{"get":{"description":"/order/get_by_base_order_number","summary":"Order Get By Base Order Number","parameters":[{"name":"base_order_number","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"}}}},"/order/get_customs_information":{"get":{"description":"/order/get_customs_information","summary":"Order Get Customs Information","parameters":[{"name":"selector","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"string"}},{"name":"skip","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"}}}},"/order/get_scanned_serial_numbers":{"get":{"description":"/order/get_scanned_serial_numbers","summary":"Order Get Scanned Serial Numbers","parameters":[{"name":"start","in":"query","schema":{"type":"string"}},{"name":"end","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"}}}},"/order/get_shipped":{"get":{"description":"/order/get_shipped","summary":"Order Get Shipped","parameters":[{"name":"start","in":"query","schema":{"type":"string"}},{"name":"end","in":"query","schema":{"type":"string"}},{"name":"tags","in":"query","schema":{"type":"string"}},{"name":"store_ids","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"}}}},"/order/get_single":{"get":{"description":"/order/get_single","summary":"Order Get Single","parameters":[{"name":"store_id","in":"query","schema":{"type":"string"}},{"name":"order_number","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"}}}},"/order/get_single_bulk":{"get":{"description":"/order/get_single_bulk","summary":"Order Get Single Bulk","parameters":[{"name":"order","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"}}}},"/order/get_skipped_scans":{"get":{"description":"/order/get_skipped_scans","summary":"Order Get Skipped Scans","parameters":[{"name":"start","in":"query","schema":{"type":"string"}},{"name":"end","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"}}}},"/order/get_unscanned_items":{"get":{"description":"/order/get_unscanned_items","summary":"Order Get Unscanned Items","parameters":[{"name":"start","in":"query","schema":{"type":"string"}},{"name":"end","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"}}}},"/order/modify_financial_status":{"put":{"description":"/order/modify_financial_status","summary":"Order Modify Financial Status","parameters":[{"name":"store_id","in":"query","schema":{"type":"string"}},{"name":"order_number","in":"query","schema":{"type":"string"}},{"name":"financial_status","in":"query","schema":{"type":"string"}},{"name":"status_date","in":"query","schema":{"type":"string"}},{"name":"order","in":"query","schema":{"type":"string"}},{"name":"refresh_cache","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"}}}},"/order/modify_status":{"put":{"description":"/order/modify_status","summary":"Order Modify Status","parameters":[{"name":"store_id","in":"query","schema":{"type":"string"}},{"name":"order_number","in":"query","schema":{"type":"string"}},{"name":"status","in":"query","schema":{"type":"string"}},{"name":"refresh_cache","in":"query","schema":{"type":"string"}},{"name":"status_date","in":"query","schema":{"type":"string"}},{"name":"force","in":"query","schema":{"type":"string"}},{"name":"order","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"}}}},"/order/remove_tag":{"delete":{"description":"/order/remove_tag","summary":"Order Remove Tag","parameters":[{"name":"orders","in":"query","schema":{"type":"string"}},{"name":"tag_id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"}}}},"/order/set_tags":{"put":{"description":"/order/set_tags","summary":"Order Set Tags","parameters":[{"name":"store_id","in":"query","schema":{"type":"string"}},{"name":"order_number","in":"query","schema":{"type":"string"}},{"name":"tags","in":"query","schema":{"type":"string"}},{"name":"reason","in":"query","schema":{"type":"string"}},{"name":"orders","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"}}}},"/order/status":{"get":{"description":"/order/status","summary":"Order Status","parameters":[{"name":"store_id","in":"query","schema":{"type":"string"}},{"name":"order_number","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"}}}},"/order/undershipped_item_report":{"get":{"description":"/order/undershipped_item_report","summary":"Order Undershipped Item Report","parameters":[{"name":"start","in":"query","schema":{"type":"string"}},{"name":"end","in":"query","schema":{"type":"string"}},{"name":"store_ids","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"}}}},"/order/unscanned_order_list":{"get":{"description":"/order/unscanned_order_list","summary":"Order Unscanned Order List","parameters":[{"name":"start","in":"query","schema":{"type":"string"}},{"name":"end","in":"query","schema":{"type":"string"}},{"name":"store_ids","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["order"],"responses":{"200":{"description":"OK"}}}},"/purchase_order/add_tag":{"post":{"description":"/purchase_order/add_tag","summary":"Purchase Order Add Tag","parameters":[{"name":"purchase_order_ids","in":"query","schema":{"type":"string"}},{"name":"tag_id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"}}}},"/purchase_order/bulk_accept":{"post":{"description":"/purchase_order/bulk_accept","summary":"Purchase Order Bulk Accept","parameters":[{"name":"items","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"}}}},"/purchase_order/create":{"post":{"description":"/purchase_order/create","summary":"Purchase Order Create","parameters":[{"name":"number","in":"query","schema":{"type":"string"}},{"name":"store_id","in":"query","schema":{"type":"string"}},{"name":"distributor_id","in":"query","schema":{"type":"string"}},{"name":"warehouse_id","in":"query","schema":{"type":"string"}},{"name":"items","in":"query","schema":{"type":"string"}},{"name":"subtotal","in":"query","schema":{"type":"string"}},{"name":"tax","in":"query","schema":{"type":"string"}},{"name":"tax_per","in":"query","schema":{"type":"string"}},{"name":"total","in":"query","schema":{"type":"string"}},{"name":"memo","in":"query","schema":{"type":"string"}},{"name":"terms","in":"query","schema":{"type":"string"}},{"name":"shipping","in":"query","schema":{"type":"string"}},{"name":"method","in":"query","schema":{"type":"string"}},{"name":"discount","in":"query","schema":{"type":"string"}},{"name":"discount_per","in":"query","schema":{"type":"string"}},{"name":"dropship_address","in":"query","schema":{"type":"string"}},{"name":"status","in":"query","schema":{"type":"string"}},{"name":"due_date","in":"query","schema":{"type":"string"}},{"name":"dropshipped","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"}}}},"/purchase_order/create_v2":{"post":{"description":"/purchase_order/create_v2","summary":"Purchase Order Create V 2","parameters":[{"name":"data","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"}}}},"/purchase_order/get":{"get":{"description":"/purchase_order/get","summary":"Purchase Order Get","parameters":[{"name":"selector","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"string"}},{"name":"skip","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"}}}},"/purchase_order/get_by_status":{"get":{"description":"/purchase_order/get_by_status","summary":"Purchase Order Get By Status","parameters":[{"name":"status","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"}}}},"/purchase_order/get_closed":{"get":{"description":"/purchase_order/get_closed","summary":"Purchase Order Get Closed","parameters":[{"name":"start","in":"query","schema":{"type":"string"}},{"name":"end","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"}}}},"/purchase_order/get_closed_with_items":{"get":{"description":"/purchase_order/get_closed_with_items","summary":"Purchase Order Get Closed With Items","parameters":[{"name":"start","in":"query","schema":{"type":"string"}},{"name":"end","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"}}}},"/purchase_order/get_processing":{"get":{"description":"/purchase_order/get_processing","summary":"Purchase Order Get Processing","parameters":[{"name":"data","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"}}}},"/purchase_order/get_processing_with_item_id":{"get":{"description":"/purchase_order/get_processing_with_item_id","summary":"Purchase Order Get Processing With Item Id","parameters":[{"name":"item_id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"}}}},"/purchase_order/get_processing_with_items":{"get":{"description":"/purchase_order/get_processing_with_items","summary":"Purchase Order Get Processing With Items","parameters":[],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"}}}},"/purchase_order/get_single":{"get":{"description":"/purchase_order/get_single","summary":"Purchase Order Get Single","parameters":[{"name":"id","in":"query","schema":{"type":"string"}},{"name":"fields","in":"query","schema":{"type":"string"}},{"name":"options","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"}}}},"/purchase_order/get_single_by_number":{"get":{"description":"/purchase_order/get_single_by_number","summary":"Purchase Order Get Single By Number","parameters":[{"name":"number","in":"query","schema":{"type":"string"}},{"name":"fields","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"}}}},"/purchase_order/new_create":{"post":{"description":"/purchase_order/new_create","summary":"Purchase Order New Create","parameters":[{"name":"data","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"}}}},"/purchase_order/remove_tag":{"post":{"description":"/purchase_order/remove_tag","summary":"Purchase Order Remove Tag","parameters":[{"name":"purchase_order_ids","in":"query","schema":{"type":"string"}},{"name":"tag_id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"}}}},"/purchase_order/set_tags":{"put":{"description":"/purchase_order/set_tags","summary":"Purchase Order Set Tags","parameters":[{"name":"id","in":"query","schema":{"type":"string"}},{"name":"tags","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["purchase_order"],"responses":{"200":{"description":"OK"}}}},"/run/sync":{"post":{"description":"/run/sync","summary":"Run Sync","parameters":[{"name":"store_id","in":"query","schema":{"type":"string"}},{"name":"sync_type","in":"query","schema":{"type":"string"}},{"name":"metadata","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["run"],"responses":{"200":{"description":"OK"}}}},"/shipments/get":{"get":{"description":"/shipments/get","summary":"Shipments Get","parameters":[{"name":"selector","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"string"}},{"name":"skip","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["shipments"],"responses":{"200":{"description":"OK"}}}},"/shipments/get_by_range":{"get":{"description":"/shipments/get_by_range","summary":"Shipments Get By Range","parameters":[{"name":"start","in":"query","schema":{"type":"string"}},{"name":"end","in":"query","schema":{"type":"string"}},{"name":"page","in":"query","schema":{"type":"string"}},{"name":"simple","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["shipments"],"responses":{"200":{"description":"OK"}}}},"/s/job/shipments/csv_export":{"get":{"description":"/s/job/shipments/csv_export","summary":"Job Shipments Csv Export","parameters":[{"name":"store_ids","in":"query","schema":{"type":"string"}},{"name":"start","in":"query","schema":{"type":"string"}},{"name":"end","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://app.skulabs.com"}],"tags":["shipments"],"responses":{"200":{"description":"OK"}}}},"/s/ship/shipping/restore_inventory":{"post":{"description":"/s/ship/shipping/restore_inventory","summary":"Ship Shipping Restore Inventory","parameters":[{"name":"store_id","in":"query","schema":{"type":"string"}},{"name":"order_number","in":"query","schema":{"type":"string"}},{"name":"shipment_id","in":"query","schema":{"type":"string"}},{"name":"tracking_number","in":"query","schema":{"type":"string"}},{"name":"no_refresh","in":"query","schema":{"type":"string"}},{"name":"carrier_shipment_id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://app.skulabs.com"}],"tags":["shipping"],"responses":{"200":{"description":"OK"}}}},"/s/ship/shipping/void":{"delete":{"description":"/s/ship/shipping/void","summary":"Ship Shipping Void","parameters":[{"name":"store_id","in":"query","schema":{"type":"string"}},{"name":"order_number","in":"query","schema":{"type":"string"}},{"name":"shipment_id","in":"query","schema":{"type":"string"}},{"name":"tracking_number","in":"query","schema":{"type":"string"}},{"name":"no_refresh","in":"query","schema":{"type":"string"}},{"name":"carrier_shipment_id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://app.skulabs.com"}],"tags":["shipping"],"responses":{"200":{"description":"OK"}}}},"/store/get":{"get":{"description":"/store/get","summary":"Store Get","parameters":[],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["store"],"responses":{"200":{"description":"OK"}}}},"/tag/add":{"post":{"description":"/tag/add","summary":"Tag Add","parameters":[{"name":"name","in":"query","schema":{"type":"string"}},{"name":"type","in":"query","schema":{"type":"string"}},{"name":"color","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["tag"],"responses":{"200":{"description":"OK"}}}},"/tag/get":{"get":{"description":"/tag/get","summary":"Tag Get","parameters":[{"name":"selector","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"string"}},{"name":"skip","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["tag"],"responses":{"200":{"description":"OK"}}}},"/tag/remove":{"delete":{"description":"/tag/remove","summary":"Tag Remove","parameters":[{"name":"tag_id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["tag"],"responses":{"200":{"description":"OK"}}}},"/tag/update":{"put":{"description":"/tag/update","summary":"Tag Update","parameters":[{"name":"tag_id","in":"query","schema":{"type":"string"}},{"name":"name","in":"query","schema":{"type":"string"}},{"name":"color","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["tag"],"responses":{"200":{"description":"OK"}}}},"/transfer_order/create":{"post":{"description":"/transfer_order/create","summary":"Transfer Order Create","parameters":[{"name":"number","in":"query","schema":{"type":"string"}},{"name":"items","in":"query","schema":{"type":"string"}},{"name":"source_warehouse_id","in":"query","schema":{"type":"string"}},{"name":"destination_warehouse_id","in":"query","schema":{"type":"string"}},{"name":"notes","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["transfer_order"],"responses":{"200":{"description":"OK"}}}},"/transfer_order/get":{"get":{"description":"/transfer_order/get","summary":"Transfer Order Get","parameters":[{"name":"id","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["transfer_order"],"responses":{"200":{"description":"OK"}}}},"/transfer_order/get_all":{"get":{"description":"/transfer_order/get_all","summary":"Transfer Order Get All","parameters":[{"name":"start","in":"query","schema":{"type":"string"}},{"name":"end","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["transfer_order"],"responses":{"200":{"description":"OK"}}}},"/warehouse/create":{"post":{"description":"/warehouse/create","summary":"Warehouse Create","parameters":[{"name":"name","in":"query","schema":{"type":"string"}},{"name":"type","in":"query","schema":{"type":"string"}},{"name":"address","in":"query","schema":{"type":"string"}},{"name":"store_id","in":"query","schema":{"type":"string"}},{"name":"states","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["warehouse"],"responses":{"200":{"description":"OK"}}}},"/warehouse/get":{"get":{"description":"/warehouse/get","summary":"Warehouse Get","parameters":[{"name":"selector","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"string"}},{"name":"skip","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["warehouse"],"responses":{"200":{"description":"OK"}}}},"/warehouse/stats":{"get":{"description":"/warehouse/stats","summary":"Warehouse Stats","parameters":[{"name":"warehouse_id","in":"query","schema":{"type":"string"}},{"name":"with_locations","in":"query","schema":{"type":"string"}}],"security":[{"SKULabsToken":[]}],"servers":[{"url":"https://api.skulabs.com"}],"tags":["warehouse"],"responses":{"200":{"description":"OK"}}}}},"components":{"securitySchemes":{"SKULabsToken":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}